<table class="table">
    <thead>
        <tr>Cashier Name</tr>
        <tr>Phone No</tr>
        <tr>Transaction Type</tr>
        <tr>Amount</tr>
    </thead>
    <tbody>

    </tbody>
</table>

@code {

}
